<div class="page-body">
    <%- include('../partials/nav') %>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="mt-2 mb-2"><%- include('../partials/messages') %></div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center p-3">
						<!-- <%- include('../partials/searchForm') %> <% if(checkPermissions(user, "department.department.create") == true) { %>
							<a class="btn btn-primary main-pg-btn btn-icon-text pull-right px-2" href="/department/create" role="button">
								<i class="fa fa-plus"> </i> Add New</a
							>
						<% } %> -->
					</div>
                    <div class="table-responsive p-2">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Phone Number</th>
                                    <th>Address</th>
                                    <% if(checkPermissions(user, "frontend-users.frontend-users.edit") == true || checkPermissions(user,
                                    "frontend-users.frontend-users.delete") == true ) { %>
                                    <!-- <th><%= 'Action' %></th> -->
                                    <% } %>
                                </tr>
                            </thead>
                            <tbody>
                                <% if(docs.length > 0){ sn = (pageNum-1) * pageLimit; docs.forEach(function(frontendUsers) { %>
                                <tr>
                                    <td scope="row"><%= sn += 1 %></td>
                                    <td><%= frontendUsers.full_name ? frontendUsers.full_name : nil %></td>
                                    <td><%= frontendUsers.email ? frontendUsers.email : nil %></td>
                                    <td><%= frontendUsers.phone_num ? frontendUsers.phone_num : nil %></td>
                                    <td><%= frontendUsers.address ? frontendUsers.address : nil %></td>
                                    <!-- <td>
                                        <% let badgeType = 'badge-success'; if (frontendUsers.status == false) { badgeType = 'badge-danger'; } %>
                                        <span class="text-uppercase badge <%= badgeType %>">
                                            <% let status = 'Active'; if (frontendUsers.status == false) { status = 'Inactive'; } %>
                                            <%= status %></span>
                                    </td> -->
                                    <!-- <% if(checkPermissions(user, "frontend-users.frontend-users.edit") == true || checkPermissions(user,
                                    "frontend-users.frontend-users.delete") == true ) { %>
                                    <td>
                                        
                                        <% if(checkPermissions(user, "frontend-users.frontend-users.delete") == true ) { %>
                                        <button
                                            type="button"
                                            class="btn btn-danger btn-sm p-1"
                                            data-bs-toggle="modal"
                                            data-bs-target="#confirmDeleteModal"
                                            data-href="/frontendUsers/<%= frontendUsers._id %>?_method=delete"
                                            data-title="<%= 'Delete Frontend Users' %>"
                                            data-description=" <%= 'Are you sure you want to delete?' %>"
                                        >
                                            <i class="fa fa-trash-alt"> </i>
                                            <%= 'Delete' %>
                                        </button>
                                        <% } %>


                                    </td>
                                    <% } %> -->
                                </tr>

                                <% }); }else{ %>
                                <tr>
                                    <td colspan="4" style="text-align: center">No Records found.</td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                    <div class="mb-3"><%- include('../partials/pagination') %></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>
